@import "tailwindcss";

@theme {
    --font-sans: "Figtree", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
